<ion-header collapse="fade">
  <ion-toolbar>
    <ion-title class="ion-text-center" size="large" color="tertiary">My Todo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div></div>
  <div id="container">
    <div id="lists">
      <div color="tertiary" id="my_lists">Mes listes</div>
      <ion-button (click)="handleCreateTodo()" color="tertiary" size="small">+</ion-button>
    </div>
    <ion-grid>
      <ion-row>
        <ion-col *ngFor="let d of data">
          <ion-button expand="block" color="{{d.Colors.name}}"><ion-icon slot="start" name="{{ d.Icons.name }}"></ion-icon>{{d.title}}</ion-button>
          
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>